body {
	font-family: Open Sans, Arial, sans-serif;
}
#pfp {
	width: 75px;
	height: 75px;
	border-radius: 37.5px;
	margin-right: 10px;
}
#top {
	display: flex;
	align-items: center;
}
#navigation {
	display: flex;
	margin-top: 3px;
	margin-bottom: 3px;
	gap: 10px;
}
#navigation a {
	color: grey;
	font-size: 18px;
	text-decoration: none;
}
#navigation a:hover {
	color: black;
}
#articlelist {
	display: flex;
	flex-direction: column;
}
#timestamp {
	color: grey;
}
